/*
 * Base structure
 */
 // base
*, *:after, *:before {
  box-sizing: border-box;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a,input{
  outline:none;
}
html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
 html,
 body {
   height: 100%;
   @include fontsize(1.5, 2);
   font-family:$font1;
   overflow-x:hidden;
 }
 h1,h2,h3,h4,h5,h6,p{
  color:$primary-color-2 
}
h2{
  text-transform:capitalize;
  @include fontsize(1.2,1.5); 
  @include tabletUp {
    @include fontsize(1.5,1.8); 
  }
  margin-bottom:20px;
}
h3{
  text-transform:capitalize;
  @include fontsize(0.8,0.8);
  @include tabletUp {
    @include fontsize(1,1);
  }
  margin-bottom:20px;
}
p{
  @include fontsize(0.65,1);
}
.btn-primary{
  background:$primary-color-3;
  border:1px solid $primary-color-3;
  text-transform: uppercase;
  @include fontsize(0.7,0.7);
  font-weight:600;
  &:hover{
    background-color:$white;
    color:$primary-color-3;
  }
}
.btn-secondary{
  text-transform: uppercase;
  @include fontsize(0.7,0.7);
  font-weight:600;
  background-color:$white;
  color:$primary-color-3;  
  border:0;
  cursor:pointer;
  &:hover{
    background-color:$primary-color-3;
  }
}
.width100{
  width:100%
}
.slick-prev:before, .slick-next:before{
  color:$primary-color-1;
}
@include mobile{
  .slick-prev {
    left: -6px;
  }
  .slick-next {
    right: -5px;
  }
}
.loader1{
  opacity:1;
  &:empty{
    opacity:1;
    width: 100vw;
    height:100vh;
    text-align: center;
    display:flex;
    align-items: center;
    width: 80px;
    height: 80px;
    border: solid 1px;
    border-color: transparent #ddd #ddd transparent;
    border-radius: 50%;
    position: relative;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 50%;
    top: 50%;
    margin-top:-40px;
    margin-left:-40px;
    &::before,
    &::after {
      text-align: center;
      display:flex;
      justify-content:center;
      align-items: center;
      content: "";
      position: absolute;
      border: solid 1px;
      border-radius: 50%;
      margin: auto;
      top: 0%;
      left: 0%;
      bottom: 0;
      right: 0;

      animation-name: spin;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    &::before	{
      width: calc(80px - 20px);
      height: calc(80px - 20px);
      border-color: transparent #777 #777 transparent;
      animation-delay: .6s;
      animation-duration: 3s;
    }
    &::after {
      width: calc(80px - 30px);
      height: calc(80px - 30px);
      border-color: transparent transparent #bc9b69 transparent;
      animation-delay: .2s;
      animation-duration: 1.8s;
    }
  }
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.bg-overlay{
  &:before{
    content:'';
    background:rgba(255,255,255,0.4);
    display:block;
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    z-index: 0;
  }
  &>div{
    position:relative;
    z-index:1;
  }
}
