// -- bootstrap library
@import 'bootstrap/scss/bootstrap'; 
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'modules/_mixins.scss';
@import 'modules/_colors.scss';
@import 'modules/_fonts.scss';
@import 'modules/_base.scss';
// -- header
body.header-active{
  header{
    background:rgba($white,0.95);
  }
  .__module-landing{
    .inner{
      h1{
        transform:translate(0,-20vh);
        opacity:0;
        filter:blur(10);
      }
      p{
        transform:translate(0,20vh);
        opacity:0;
        filter:blur(10);
      }
    }
  }
}
header{
  width:100%;
  position:fixed;
  display:block;
  z-index:100;
  transition: all ease 0.6s;
  .inner{
    .masthead-brand{
      display:block;
      max-width:120px;
      margin:0 auto;
    }
    @include tabletUp {
      display:flex;
      .masthead-brand{
        flex:1;
        max-width:150px;
        margin-left:0;
      }
    }
    .nav{
      text-align:center;
      display:flex;
      justify-content: center;
      @include tabletUp {
        flex:1;
        align-items:center;
        justify-content: flex-end;
        text-align: left;
      }
      a{
        transition: all ease 0.5s;
        @include mobile {
          padding: 10px 9px;
          display: inline-block;
          @include fontsize(0.6,0.6);
          &:first-child{
            &:focus,&:hover{
              color:$primary-color-1;
            }
          }
        }
        @include fontsize(0.7,1.4);
        color:$primary-color-1;
        font-weight:500;
        &:focus,&:hover,&:active{
          color:lighten($primary-color-1,20%);
        }
      }
    }
  }
}
// -- generic module spacing
.__module_section_spacing{
  margin: 45px 0 0 0;
  padding: 125px 0 0 0;
  @include tabletUp{
    padding:65px 0 0 0
  }
}
.col-margin-auto{
  margin:0 auto;
}
// -- landing
.__module-landing{
  width:100vw;
  height:100vh;
  position:relative;
  z-index: 0;
  .inner{
    @extend .text-center;
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color:$primary-color-1;
    background-size:cover;
    //background-attachment: fixed;
    h1{
      transition:all ease 0.3s;
      padding:10px;
      @include fontsize(2.72, 2.72);
      @include tabletUp {
        padding:0px;
        @include fontsize(3.72, 3.72);
      }
      font-weight:800;
      text-transform:uppercase;
      margin-bottom:30px;
    }
    p{
      transition:all ease 0.3s;
      @include fontsize(0.8, 0.8);
      @include tabletUp {
        @include fontsize(1.8, 1.8);
      }
      text-transform: capitalize;
    }
  }
}
// -- grid 
.__module_grid{
  .col-sm-4{
    padding-bottom:30px;
  }
  .card{
    justify-content: center;
    text-align:center;
    height:100%;
    width:100%;
    position:relative;
    .card-block{
      min-height:300px;
      min-width:300px;
      @media only screen and (min-width: 570px) and (max-width:992px) {
        min-width:170px;
        min-height:170px;
      }
      height: 100%;
      position:relative;
      background-size:cover;
      z-index: 1;
      display:flex;
      align-items: center;
      justify-content: center;
      transition: all ease-in 0.3s;
      cursor: pointer;
      .card-content{
        color:$white;
        opacity:0;
        transition: all ease-in 0.3s;
        h3{
          @include fontsize(1.3,0.8);
          text-transform: uppercase;
          color:$white;
        }
        p{
          @include fontsize(1,0.8);
          font-weight:200;
          color:$white;
        }
      }
      &:after{
        content:'';
        transition: all ease-in 0.3s;
        opacity:0;
        background-color:rgba($primary-color-3,0.7);
        display:block;
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
      }
      &:hover{
        text-decoration:none;
        .card-content{
          opacity:1;
        }
        &:after{
          opacity:1;
        }
      }
    }
  }
}
// -- content
.__module_content{
  a{
    text-decoration:underline;
    color:$primary-color-1;
    transition:all ease 0.3s;
    &:hover{
      color:$primary-color-3;
      text-decoration:none;
    }
  }
}
// -- fullwidth
.__module_fullwidth{
  .bg-image{
    background-size: cover;
    height: 60vh;
    width: 100vw;
    background-position: center center;
    margin:0;
  }
}
// -- carousel
.slick-list{
  .slick-slide{
    padding:0.7rem
  }
}
// -- tabs
.__module_tabs{
  .nav-tabs{
    display:flex;
    width:100%;
    border-color:darken($primary-color-3,10);
    .nav-item{ 
      flex:1;
      @include fontsize(1.1,1.8);
      text-transform: uppercase;
    }
    .nav-link{
      @include mobile{
        padding:0.5rem 0.5rem;
        text-align:center;
      }
    }
    .nav-link.active, .nav-item.show .nav-link{
      border-color:darken($primary-color-3,10);
    }
  }
  .tab-content{
    padding:30px 0;
    @include mobile {
      img{
        margin-bottom:30px;
      }
    }
  }
}
// -- mailing list
.__module_mailinglist{
  background:$primary-color-3;
  color:$white;
  padding:10vh 0;
  display:flex;
  align-items:center;
  justify-content: center;
  label{
    @include fontsize(0.7,1);
  }
  input{
    background:$misc-color-1;
    border:1px solid $primary-color-3;
    @include fontsize(0.7,1);
    color:$misc-color-2;
    transition: all ease 0.3s;
  }
  h2{
    color:$white;
    margin-bottom:0px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:$misc-color-2
  }
  .alert-message{
    position: relative;
    margin-bottom:20px;
    .alert{
      position: absolute;
      @include fontsize(0.7,1.7);
      @include mobile{
        @include fontsize(0.7,1);
      }
      padding: 10px 25px;
      width: 100%;
      button{
        padding: 0;
        position: relative;
        right: 0;
        top: 0px;
      }
    }
  }
}
// -- footer
footer{
  height:15vh;
  @include tabletUp{
    height:52vh;
  }
  background:$primary-color-1;
}